<%- include('header'); -%>

    <p>Hi this is me using the header and footer layout and keeping my styling!</p>
    <div class="box">
        <p>a paragraph inside a div to display the "box" style</p>
    </div>
    <div class="item">
        <p>a paragraph inside a div to display the "item" style</p>
    </div>